DATABASE_URL="file:./e2e.db"
SESSION_SECRET="e2e-test-secret-REPLACE_WITH_RANDOM_32CHARSREPLACE_WITH_RANDOM_32CHARS"
NEXT_PUBLIC_SITE_URL="http://localhost:3222"
ADMIN_EMAIL="e2e-admin@griyaasri.id"
ADMIN_PASSWORD="ganti-password-test"
